<div id="canvas_container">
  <canvas width="1800" height="900" style="width:1800px; height:900px;" id="my_canvas"></canvas>
  <div>
    <div class="wordCloudWordDiv">
      <h2>Word: </h2>
      <h3 id="wordCloudWord" style="font-size:20px; margin-top: 2px;">Hover over word</h3>
    </div>
    <div class="wordCloudWordOccurrences">
      <h2 style="margin-top: -15px;">Occurrences: </h2>
      <h3 id="wordCloudWordCount" style="font-size: 20px; margin-top: -13px;">0</h3>
    </div>
  </div>
</div>
